#DEBUG=*
TAG=1.0.2

# APP
PORT=3000

# SECURITY
TRUSTED_IPS=
API_USER=
API_PASS=
BCRYPT_ROUNDS=

# Humming Bird
HB_URL=https://hummingbird-staging.podgroup.com
HB_USER=gabriel.rflores
HB_PASS=serolfr.leirbag
